@model DiplomskiFinki.Models.Diploma;

@{
    ViewData["Title"] = "Step3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="my-4">Валидирање од службата за студентски прашања</h3>
<hr class="text-muted" />

<div class="bg-lightgreen border-green mb-4">
    <div class="p-3 text-dark">
        Службата за студентски прашања проверува дали студентот исполнува услови за пријава на тема.
    </div>
</div>

<div class="p-5 border rounded-3">
    <table class="table table-bordered table-striped table-condensed table-responsive mb-3">
        <tr>
            <td class="col-3">
                <span class="fa fa-graduation-cap"></span>&nbsp;
                Студент
            </td>
            <td class="fw-bold">@Model.Student.Index</td>
        </tr>
        <tr>
            <td class="col-3">
                <span class="fa fa-book"></span>&nbsp;
                Тема
            </td>
            <td class="fw-bold">@Model.Title</td>
        </tr>
        <tr>
            <td class="col-3">
                <span class="fa fa-laptop"></span>&nbsp;
                Област
            </td>
            <td class="fw-bold">@Model.Domain</td>
        </tr>
        <tr>
            <td class="col-3">
                <span class="fa fa-level-up"></span>&nbsp;
                Краток Опис
            </td>
            <td class="fw-bold">@Model.Description</td>
        </tr>
        <tr>
            <td class="col-3">
                <span class="fa fa-user"></span>&nbsp;
                Ментор
            </td>
            <td class="fw-bold">@Model.Mentor.Name @Model.Mentor.Surname</td>
        </tr>
        <tr>
            <td class="col-3">
                <span class="fa fa-user-md"></span>&nbsp;
                Член 1
            </td>
            <td class="fw-bold">@Model.Member1.Name @Model.Member1.Surname</td>
        </tr>
        <tr>
            <td class="col-3">
                <span class="fa fa-user-md"></span>&nbsp;
                Член 2
            </td>
            <td class="fw-bold">@Model.Member2.Name @Model.Member2.Surname</td>
        </tr>
    </table>
    <form asp-action="Step3Submit" method="post" class="mt-5 p-3 border">
        <h4>Дали исполнува услови?</h4>
        <input type="hidden" value=@Model.Id name="id" />

        <div class="form-group mb-3">
            Да <input class="form-check-input me-4" type="radio" value="true" id="true" name="accept">
            Не <input class="form-check-input" type="radio" value="false" id="false" name="accept">
        </div>
        <button class="btn btn-dark" type="submit">Потврди</button>
        <a href="/Diplomas" class="btn btn-dark">Откажи</a>
    </form>
</div>